.card {
  width: 540px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
}
.card__list-item {
  padding-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}

.card__list-item:first-of-type {
  padding-top: 32px;
}

.card__list-item:last-of-type {
  padding-bottom: 0px;
}

.card__list-divider {
  border-bottom: #000000 solid 1px;
  flex-grow: 0.9;
}
