.form-button {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}

.form-checkbox {
  padding-top: 32px;
  border-radius: 2px;
  display: flex;
  border: none;
  padding-bottom: 120px;
}
