.form-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
}

.form-label {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-top: 32px;
  padding-bottom: 8px;
}

.form-label:first-of-type {
  padding-top: 0px;
}

.form-input {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
}

.form-button {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-checkbox {
  padding-top: 32px;
  border-radius: 2px;
  display: flex;
  border: none;
  padding-bottom: 120px;
}
