.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  padding-top: 100px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  margin: 0;
}

.reservation__form {
  margin-left: auto;
  margin-right: auto;
}

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
  margin: auto;
  border: none;
}

.label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-top: 32px;
  padding-bottom: 8px;
}

.label:first-of-type {
  padding-top: 0px;
}

.input {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
}
